<!doctype html>
<html lang="en-US" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/styles/styles.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <title>Passport Template</title>
</head>
<body>

<header>
  <nav>
    <h1>Passport Template</h1>
  </nav>
</header>

<section>

  {{{ body }}}

</section>

<footer>
  <nav>
    <div>
      <h5>&#64; Copyright 2019</h5>
    </div>
  </nav>
</footer>

</body>
</html>
